<h1>Listing gets</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @gets.each do |get| %>
      <tr>
        <td><%= link_to 'Show', get %></td>
        <td><%= link_to 'Edit', edit_get_path(get) %></td>
        <td><%= link_to 'Destroy', get, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Get', new_get_path %>
