<h1>GET</h1>



  <tbody>
    <% @gets.each do |get| %>
      <tr>
        <td><%= link_to 'Show', get %></td>
        <td><%= link_to 'Edit', edit_get_path(get) %></td>
        <td><%= link_to 'Destroy', get, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Get', new_get_path %>
