<h1>Octocycle</h1>

<img id="picture" src="http://farm1.staticflickr.com/165/346745382_61f239b697_o.jpg" />

<div id="progress" class="progress">
  <div class="progress-bar progress-bar-success"></div>
</div>

<input id="getcamera" type="file" capture="camera" accept="image/*" name="get[image]" >
<button id="getbutton" type="button">GET ONE</button>
