<h1>Octocycle</h1>

<!-- <img id="picture" src="http://farm1.staticflickr.com/165/346745382_61f239b697_o.jpg" /> -->
<section id ="gets">
</section>

<!-- <input id="getcamera" type="file" capture="camera" accept="image/*" id="cameraInput">
<button id="getbutton" type="button">GET ONE</button>
 -->

 <h2>Get out of my <%= link_to 'bikelane!', new_get_path, class: 'new-get' %></h2>