<h1>Welcome to Octocycle</h1>
<p>hello</p>

<input type="file" capture="camera" accept="image/*" id="cameraInput">
<%= link_to "Sign in with Twitter :)", cycle_user_omniauth_authorize_path(:twitter) %>
