

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 */

@import "defaults";

body {
	.sans;
	.bold;
	text-align: center;
}

input {
	padding: 10px 50px;
	text-align:center;
	.sans;
	.bold;
}

#user_login_box {
	.sans(@small)
}

#picture {
	max-width: 80%;
	margin: 20px 10%;
	text-align: center;
}
#getcamera {
	display: none;
}

#getbutton {
	width: 70%;
	.sans;
	.bold;
	/*margin-left: 15%;*/
	/*padding: 100px 0;*/
	line-height: 30px;
	height: 60px;
}